{% load blog_extras crispy_forms_tags %}
{%  crispy comment_form %}
{{ comment_form|crispy }}

{% load blog_extras %}
<h4>Comments</h4>

{% for comment in post.comments.all %}
<div class="border-top pt-2">
    <div class="col">
        <h5>Posted by {{ comment.creator }} at {{ comment.created_at|date:"M, d Y h:i" }}</h5>
    </div>
</div>

<div class="border-bottom">
    <div class="col">
        <p>{{ comment.content }}</p>
    </div>
</div>
{% empty %}
<div class="border-top border-bottom">
    <div class="col">
        <p>No comments.</p>
    </div>
</div>
{% endfor %}

{% if request.user.is_active %}
<div class="mt-4">
    <div class="col">
        <h4>Add Comment</h4>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </p>
        </form>
    </div>
</div>
{% endif %}
